<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon.com. Spend less. Smile more.</title>
    <link rel="shortcut icon" href="../image/Amazon_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/navigation.css">
    <link rel="stylesheet" href="../static/section.css">
    <link rel="stylesheet" href="../static/footer.css">
    <script src="https://kit.fontawesome.com/322b56a1fb.js" crossorigin="anonymous"></script>

</head>

<body>
    <header id="header">
        <nav class="navbar" id="navbar">
            <div class="logo border">
                <img src="../image/logo.jpg" alt="logo">
            </div>
            <div class="address border">
                <p class="deliver">Deliver to</p>
                <i class="fa-solid fa-location-dot"></i> India
            </div>

            <div class="search">
                <div class="select-catagories">
                    <select name="select" id="select">
                        <option value="All">All</option>
                        <option value="All">Art & Craft</option>
                        <option value="All">Automotive</option>
                        <option value="All">Baby</option>
                        <option value="All">Books</option>
                        <option value="All">Computer</option>

                    </select>
                </div>
                <div class="search-bar">
                    <input type="text" name="search" placeholder="Search Amazon">
                </div>
                <div class="search-button">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>

            <div class="language border">
                <img src="../image/usa.png" alt="flag">
                <p>EN</p>
            </div>

            <div class="sign-in border">
                <p class="nav-para">Hello, sign in</p>
                <p>Account & Lists</p>
            </div>

            <div class="r-o border">
                <p class="nav-para">Returns</p>
                <p>& Orders</p>
            </div>

            <div class="cart border">
                <i class="fa-solid fa-cart-shopping"></i>
                <p>Cart</p>
            </div>


        </nav>

        <div class="navbar-2">
            <div class="navbar-2-left">
                <p class="border"><i class="fa-solid fa-bars"></i> All</p>
                <p class="border">Today's Deals</p>
                <p class="border">Customer Service</p>
                <p class="border">Registry</p>
                <p class="border">Gift Cards</p>
                <p class="border"> Sell</p>
            </div>

            <div class="navbar-2-right">
                <p class="border">Shop great deals now</p>
            </div>
        </div>
    </header>

    <section class="back-img-sec">
        <img src="../image/back img.jpg" alt="image">

    </section>

    <section id="main-section">

        <section id="line-1">
            <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast local
                delivery. </p>
            <a href="/">Click here to go to amazon.in</a>

        </section>

        <div class="container">
            <div class="container-flex">
                <div class="sub-conatiner-1-div">

                    <h3 class="h3">Gaming accessories</h3>
                    <div class="grid-img">
                        <div class="flex-img">
                            <img src="../image/gaming/headphone.jpg" alt="headphone">
                            <p class="sub-container-1-para">Headsets</p>
                        </div>
                        <div class="flex-img">
                            <img src="../image/gaming/keyboard.jpg" alt="keyboard">
                            <p class="sub-container-1-para">Keyboard</p>
                        </div>
                        <div class="flex-img">
                            <img src="../image/gaming/mouse.jpg" alt="mouse">
                            <p class="sub-container-1-para">Computer mice</p>
                        </div>
                        <div class="flex-img">
                            <img src="../image/gaming/chairs.jpg" alt="chairs">
                            <p class="sub-container-1-para">Chiars</p>
                        </div>

                        <a href="/" class="sub-container-1-atag">See more</a>
                    </div>

                </div>

                <div class="sub-conatiner-1-div">
                    <h3 class="h3">Shop deals in Fashion</h3>
                    <div class="grid-img">
                        <div class="flex-img">
                            <img src="../image/fashion/jeans.jpg" alt="jeans">
                            <p class="sub-container-1-para">Jeans under $50</p>
                        </div>

                        <div class="flex-img">
                            <img src="../image/fashion/top.jpg" alt="top">
                            <p class="sub-container-1-para">Top under $25</p>
                        </div>

                        <div class="flex-img">
                            <img src="../image/fashion/dresses.jpg" alt="dresses">
                            <p class="sub-container-1-para">Dresses under $30</p>
                        </div>

                        <div class="flex-img">
                            <img src="../image/fashion/shoes.jpg" alt="shoes">
                            <p class="sub-container-1-para">Shoes under $50</p>
                        </div>
                        <a href="/" class="sub-container-1-atag">See all deals</a>

                    </div>
                </div>

                <div class="sub-conatiner-1-div">
                    <div class="single-img-container">
                        <h3 class="h3">Beauty picks</h3>
                        <img class="section-single-img" src="../image/fashion/cosmetics.jpg" alt="cosmetics">
                        <a href="/" class="sub-container-1-atag">See more</a>
                    </div>
                </div>
            </div>

            <div class="sub-container-2">
                <div id="sign-in">
                    <h3 class="h3">Sign in for the best experience</h3>
                    <button>Sign in securely</button>
                </div>
                <div>
                    <img src="../image/fashion/amazon-side-blue.jpg" alt="image">
                </div>

            </div>
        </div>

        <div class="container">
            <div class="container-flex">
                <div class="sub-conatiner-1-div line-2-width">
                    <div class="single-img-container">
                        <h3 class="h3">Health & Personal Care</h3>
                        <img class="section-single-img" src="../image/second-line/health.jpg" alt="health">
                        <a href="/" class="sub-container-1-atag">Shop now</a>
                    </div>
                </div>
                <div class="sub-conatiner-1-div line-2-width">
                    <div class="single-img-container">
                        <h3 class="h3">Electronics</h3>
                        <img class="section-single-img" src="../image/second-line/electronics.jpg" alt="electronics">
                        <a href="/" class="sub-container-1-atag">See more</a>
                    </div>
                </div>

                <div class="sub-conatiner-1-div line-2-width">

                    <h3 class="h3">Refresh your space</h3>
                    <div class="grid-img">
                        <div class="flex-img">
                            <img class="i" src="../image/second-line/dinnig.jpg" alt="dinning">
                            <p class="sub-container-1-para">Dinning</p>
                        </div>
                        <div class="flex-img">
                            <img class="i" src="../image/second-line/home.jpg" alt="home">
                            <p class="sub-container-1-para">Home</p>
                        </div>
                        <div class="flex-img">
                            <img class="i" src="../image/second-line/kitchin.jpg" alt="kitchin">
                            <p class="sub-container-1-para">Kitchin</p>
                        </div>
                        <div class="flex-img">
                            <img class="i" src="../image/second-line/beauty.jpg" alt="beauty">
                            <p class="sub-container-1-para">Home & beauty</p>
                        </div>

                        <a href="/" class="sub-container-1-atag">See more</a>
                    </div>

                </div>

                <div class="sub-conatiner-1-div line-2-width">

                    <h3 class="h3">Refresh your space</h3>
                    <div class="grid-img">
                        <div class="flex-img">
                            <img class="i" src="../image/second-line/basket.jpg" alt="basket">
                            <p class="sub-container-1-para">Basket</p>
                        </div>
                        <div class="flex-img">
                            <img class="i" src="../image/second-line/hardware.jpg" alt="hardware">
                            <p class="sub-container-1-para">Hardware</p>
                        </div>
                        <div class="flex-img">
                            <img class="i" src="../image/second-line/accent.jpg" alt="accent">
                            <p class="sub-container-1-para">Accent</p>
                        </div>
                        <div class="flex-img">
                            <img class="i" src="../image/second-line/wallpaper.jpg" alt="wallpaper">
                            <p class="sub-container-1-para">Wallpaper</p>
                        </div>

                        <a href="/" class="sub-container-1-atag">Shop home products</a>
                    </div>

                </div>

            </div>
        </div>

        <div class="container-2">
            <div>
                <h3 class="h3">Frequently repurchased in Home</h3>
                <div class="container-2-image">
                    <img class="straight-img" src="../image/straight-img/shoe case.jpg" alt="1">
                    <img class="straight-img" src="../image/straight-img/2.jpg" alt="2">
                    <img class="straight-img" src="../image/straight-img/3.jpg" alt="3">
                    <img class="straight-img" src="../image/straight-img/4.jpg" alt="4">
                    <img class="straight-img" src="../image/straight-img/5.jpg" alt="5">
                    <img class="straight-img" src="../image/straight-img/6.jpg" alt="6">
                    <img class="straight-img" src="../image/straight-img/7.jpg" alt="7">
                </div>
            </div>
        </div>

        <div class="container-2">
            <img class="image" src="../image/straight-img/next.png" alt="next">
        </div>

        <div class="container">
            <div class="container-flex">
                <div class="sub-conatiner-1-div line-2-width">
                    <div class="single-img-container">
                        <h3 class="h3">New arrivals in Toys</h3>
                        <img class="section-single-img single-img" src="../image/single/toys.jpg" alt="toy">
                        <a href="/" class="sub-container-1-atag">Shop now</a>
                    </div>
                </div>
                <div class="sub-conatiner-1-div line-2-width">
                    <div class="single-img-container">
                        <h3 class="h3">Discover fashion trends</h3>
                        <img class="section-single-img single-img" src="../image/single/fashion.jpg" alt="fashion">
                        <a href="/" class="sub-container-1-atag">See more</a>
                    </div>
                </div>

                <div class="sub-conatiner-1-div line-2-width">
                    <div class="single-img-container">
                        <h3 class="h3">For your Fitness Needs</h3>
                        <img class="section-single-img single-img" src="../image/single/fitness.jpg" alt="fitness">
                        <a href="/" class="sub-container-1-atag">Shop now</a>
                    </div>
                </div>

                <div class="sub-conatiner-1-div line-2-width">
                    <div class="single-img-container">
                        <h3 class="h3">Home refresh ideas</h3>
                        <img class="section-single-img single-img" src="../image/single/home refres.jpg" alt="fashion">
                        <a href="/" class="sub-container-1-atag">Shop kitchen upgrades</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-2">
            <img class="image" src="../image/straight-img/next-2.png" alt="">
        </div>

        <div class="container-2">
            <div>
                <h3 class="h3">Frequently repurchased in Home</h3>
                <div class="container-2-image">
                    <img style="width: 15rem;" class="straight-img" src="../image/straight-img/1+.jpg" alt="1">
                    <img style="width: 15rem;" class="straight-img" src="../image/straight-img/2+.jpg" alt="2">
                    <img style="width: 15rem;" class="straight-img" src="../image/straight-img/3+.jpg" alt="3">
                    <img style="width: 15rem;" class="straight-img" src="../image/straight-img/4+.jpg" alt="4">
                    <img style="width: 15rem;" class="straight-img" src="../image/straight-img/6+.jpg" alt="5">
                    <img style="width: 15rem;" class="straight-img" src="../image/straight-img/6++.jpg" alt="6">
                </div>
            </div>
        </div>


        <div class="container">
            <div class="container-flex">
                <div class="sub-conatiner-1-div line-2-width">
                    <div class="single-img-container">
                        <h3 class="h3">Shop Laptops & Tablets</h3>
                        <img class="section-single-img single-img" src="../image/single/laptop.jpg" alt="toy">
                        <a href="/" class="sub-container-1-atag">See more</a>
                    </div>
                </div>
                <div class="sub-conatiner-1-div line-2-width">
                    <div class="single-img-container">
                        <h3 class="h3">Shop activity trackers and smartwatches</h3>
                        <img style="height: 15rem;" class="section-single-img single-img"
                            src="../image/single/watches.jpg" alt="fashion">
                        <a href="/" class="sub-container-1-atag">Shop now</a>
                    </div>
                </div>

                <div class="sub-conatiner-1-div line-2-width">
                    <div class="single-img-container">
                        <h3 class="h3">Create with strip lights</h3>
                        <img class="section-single-img single-img" src="../image/single/strip lights.jpg" alt="fitness">
                        <a href="/" class="sub-container-1-atag">Shop now</a>
                    </div>
                </div>

                <div class="sub-conatiner-1-div line-2-width">
                    <div class="single-img-container">
                        <h3 class="h3">Kindle E readers</h3>
                        <img style="height: 16.5rem;" class="section-single-img single-img"
                            src="../image/single/kindel.jpg" alt="fashion">
                        <a href="/" class="sub-container-1-atag">Shop now</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="footer-sign-in">
            <hr>
            <p>See personalized recommendations</p>
            <button>sign in</button>
            <p>New customer? Start here.</p>

            <hr>
        </div>

        <div class="back-to-top">
            <h3>
                Back to top
            </h3>
        </div>

        <footer id="footer">


            <div class="footer-1">
                <div class="f-1">
                    <div class="f-content">
                        <h4>Get to Know Us</h4>
                        <a href="/">Careers</a>
                        <a href="/">Blog</a>
                        <a href="/">About Amazon</a>
                        <a href="/">Investor Relations</a>
                        <a href="/">Amazon Devices</a>
                        <a href="/">Amazon Science</a>
                    </div>

                    <div class="f-content">

                        <h4>Make Money with Us</h4>
                        <a href="/"> Sell products on Amazon</a>
                        <a href="/"> Sell on Amazon Business</a>
                        <a href="/"> Sell apps on Amazon</a>
                        <a href="/"> Become an Affiliate
                            <a href="/"> Advertise Your Products</a>
                            <a href="/"> Self-Publish with Us</a>
                            <a href="/"> Host an Amazon Hub</a>
                            <a href="/"> ›See More Make Money with Us</a>
                    </div>

                    <div class="f-content">
                        <h4>Amazon Payment Products</h4>
                        <a href="/"> Amazon Business Card</a>
                        <a href="/"> Shop with Points</a>
                        <a href="/"> Reload Your Balance</a>
                        <a href="/"> Amazon Currency Converter</a>
                    </div>

                    <div class="f-content">
                        <h4>Let Us Help You</h4>
                        <a href="/"> Amazon and COVID-19</a>
                        <a href="/"> Your Account</a>
                        <a href="/"> Your Orders</a>
                        <a href="/"> Shipping Rates & Policies</a>
                        <a href="/"> Returns & Replacements</a>
                        <a href="/">>Manage Your Content and Devices</a>
                        <a href="/"> Amazon Assistant</a>
                        <a href="/"> Help</a>
                    </div>
                </div>

               <hr>

                <div class="footer-1-2">
                    <div style="border: none;"><img src="../image/f-logo.png" alt="logo"></div>
                    <div><i class="fa fa-globe"></i> English</div>

                    <div>$ USD - U.S. Dollar</div>
                    <div><img id="f-logo" src="../image/usa.png" alt="usa"> United States</div>

                </div>
            </div>


        </footer>


    </section>

</body>

</html>